@page
@model KupiCore.Pages.Database.IndexModel
@{
}
<form asp-controller="Database" asp-action="AddCategory" method="post">
    <label>Категории товаров</label>
    <div>
        <label>Имя категории</label><br>
        <input type="text" id="name" name="name"><br>
        <label>Описание категории</label><br>
        <input type="text" id="description" name="description"><br>
        <input type="submit">Добавить</input>
    </div>
</form>