html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

.main-nav {
    margin-left: 0.5rem;
}

header {
    max-height: 10% !important;
}

.main-container {
    max-height: 80% !important;
}

footer {
    position: absolute;
    bottom: 0;
    max-height: 10% !important;
    width: 100%;
}
